.container-reminder-input {
    display: flex;
    gap: 6px;
    margin-bottom: 6px;
}

.container-reminder-input input {
    flex: 1;
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

.container-reminder-button {
    display: flex;
    flex-direction: column;
    background-color: #784BC3;
    width: 100%;
    align-items: center;
    font-size: 16px;
}
.container-reminder-button:hover {
    background-color: #AE91DB;
}

.reminder-info {
    margin-top: 6px;
    padding: 6px 8px;
    background-color: #e9f7ef;
    border: 1px solid #d4edda;
    border-radius: 8px;
    color: #155724;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reminder-info p {
    margin: 0;
}